extends layout

block content
  <!-- Following Menu-->
    #top
    .ui.huge.top.fixed.hidden.inverted.menu
      .ui.container
        a(href="/").active.red.item Inicio
        a(href="/metodologia").red.item Metodología
        a(href="/unidades-compradoras").red.item Unidades Compradoras
    <!--Sidebar Menu-->
    .ui.vertical.inverted.sidebar.menu
      a.active.item Inicio
      a.item Metodología
      a.item Unidades Compradoras
    nav.side-menu
        ul.nav.navbar-nav
            li
                a.anchor(href='#top')
                    div(data-inverted='' data-tooltip='Inicio' data-position='left center')
                        i.chevron.circle.up.icon
            li
                a.anchor.side-menu-item(href='#resumen-contratos' data-inverted='' data-tooltip='Resúmen de contratos' data-position='left center')                
            li
                a.anchor.side-menu-item(href='#ranking-dependencias' data-inverted='' data-tooltip='Ranking de Dependencias' data-position='left center')                
            li
                a.anchor.side-menu-item(href='#ranking-historico' data-inverted='' data-tooltip='Ranking Histórico' data-position='left center')                
            li
                a.anchor.side-menu-item(href='#ranking-estados' data-inverted='' data-tooltip='Ranking de Estados' data-position='left center')                
            li
                a.anchor.side-menu-item(href='#ranking-municipios' data-inverted='' data-tooltip='Ranking de Municipios' data-position='left center')                
            li
                a.anchor.side-menu-item(href='#ranking-bancos' data-inverted='' data-tooltip='Ranking de Bancos' data-position='left center')            

    <!--Page Contents-->
    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment.main-background
        .mainbg-overlay
          //- .ui.container
          //-   .ui.huge.secondary.inverted.pointing.menu
          //-     a.toc.item
          //-       i.sidebar.icon
          //-     a.active.item Inicio
          //-     a.item Metodología
          //-     a.item Unidades Compradoras
          .ui.text.container
            img.main-logo(src="images/LOGO-CONTRATOS-WHITE.png")
            h2
              | "Estos son mis contratos, y si no les gustan... tengo otros" podría haber dicho  

              a.header-link(href='https://www.youtube.com/watch?v=4XEp-mZ2bG4' target='_blank')
                | Groucho Marx
              |  (cómico estadounidense de principio de siglo XX). Siguiendo esta máxima, la administración mexicana va publicando portales de contrataciones abiertas en distintas webs con datos que no coinciden y dificultan la rendición de cuentas.

            .ui.two.statistics
              .ui.inverted.statistic
                ul.main-list
                  strong Objetivos:
                  li 
                   i.check.circle.icon 
                   | Facilitar su búsqueda y consulta
                  li 
                    i.check.circle.icon 
                    | Evaluar la transparencia de cada dependencia
                  li 
                    i.check.circle.icon 
                    | Indicar cómo pueden mejorar
              .ui.inverted.statistic
                .value
                  | 1.345.343
                .label
                  | contratos federales, estatales y municipales

            //- a.ui.large.inverted.gray.button.mt-3(href='https://www.youtube.com/watch?v=4XEp-mZ2bG4', target='_blank')
            //-   | Ver video
            a.down-icon(href="#down")
                i.chevron.down.icon
      .ui.vertical.stripe.segment#resumen-contratos
        .ui.container#down
          p
            span.main-letter L
            | orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at condimentum placerat, sem sapien laoreet mauris, dictum porttitor lacus est nec enim. Vivamus feugiat elit lorem, eu porttitor ante ultrices id. Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. Ut pretium, metus venenatis dictum viverra, dui metus finibus enim, ac rhoncus sem lorem vitae mauris. Suspendisse ut venenatis libero. Suspendisse lorem felis, pretium in maximus id, tempor non ipsum
          canvas#importesChart

      .ui.vertical.stripe.segment
        .ui.container#ranking-dependencias
          h3.ui.header.content-title
            .content-title-inner Ranking de Dependencias
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at condimentum placerat, sem sapien laoreet mauris, dictum porttitor lacus est nec enim. Vivamus feugiat elit lorem, eu porttitor ante ultrices id. Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. Ut pretium, metus venenatis dictum viverra, dui metus finibus enim, ac rhoncus sem lorem vitae mauris. Suspendisse ut venenatis libero. Suspendisse lorem felis, pretium in maximus id, tempor non ipsum
          table#tableTopDependencies.ui.table.stackable
            thead
              tr
                th Posición
                th Dependencia
                th Transparencia
                th Temporalidad
                th Competitividad
                th Trazabilidad
                th Total
          .table-divider
          table#tableBottomDependencies.ui.table.stackable
            thead
          .content-buttons        
            a(href="https://quienesquien.wiki/orgs/?sort=score").big.ui.black.button Ver todas las dependencias
  
      .ui.vertical.stripe.segment
        .ui.container#ranking-historico
          h3.ui.header.content-title
            .content-title-inner Ranking Histórico
          p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at condimentum placerat, sem sapien laoreet mauris, dictum porttitor lacus est nec enim. Vivamus feugiat elit lorem, eu porttitor ante ultrices id. Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. Ut pretium, metus venenatis dictum viverra, dui metus finibus enim, ac rhoncus sem lorem vitae mauris. Suspendisse ut venenatis libero. Suspendisse lorem felis, pretium in maximus id, tempor non ipsum
          #historicoChartContainer
            canvas#historicoChart
          
      .ui.vertical.stripe.segment
        .ui.container#ranking-estados
          h3.ui.header.content-title
            .content-title-inner Ranking de Estados
          p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at condimentum placerat, sem sapien laoreet mauris, dictum porttitor lacus est nec enim. Vivamus feugiat elit lorem, eu porttitor ante ultrices id. Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. Ut pretium, metus venenatis dictum viverra, dui metus finibus enim, ac rhoncus sem lorem vitae mauris. Suspendisse ut venenatis libero. Suspendisse lorem felis, pretium in maximus id, tempor non ipsum
          #context1
            .ui.two.item.menu#button-tabs
              a.item.active(data-tab='mapa') Mapa
              a.item(data-tab='lista') Lista
            .ui.active.tab(data-tab='mapa')
              .image.center.aligned
                #map
            .ui.tab(data-tab='lista')
              table#tableStates.ui.table.stackable
                thead
                  tr
                    th Posición
                    th Estado
                    th Transparencia
                    th Temporalidad
                    th Competitividad
                    th Trazabilidad
                    th Total
          
      .ui.vertical.stripe.segment
        .ui.container#ranking-municipios
          h3.ui.header.content-title
            .content-title-inner Ranking de Municipios
          p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at condimentum placerat, sem sapien laoreet mauris, dictum porttitor lacus est nec enim. Vivamus feugiat elit lorem, eu porttitor ante ultrices id. Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. Ut pretium, metus venenatis dictum viverra, dui metus finibus enim, ac rhoncus sem lorem vitae mauris. Suspendisse ut venenatis libero. Suspendisse lorem felis, pretium in maximus id, tempor non ipsum
          table#tableTopMunicipios.ui.table.stackable
            thead
              tr
                th Posición
                th Municipio
                th Transparencia
                th Temporalidad
                th Competitividad
                th Trazabilidad
                th Total
          .table-divider
          table#tableBottomMunicipios.ui.table.stackable
            thead
          .content-buttons 
            a(href="https://quienesquien.wiki/orgs/?filter=municipio&sort=score").big.ui.black.button Ver todos los municipios
          
      .ui.vertical.stripe.segment
        .ui.container#ranking-bancos
          h3.ui.header.content-title
            .content-title-inner Ranking de Bancos de Inversión
          p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Aliquam egestas, velit at condimentum placerat, sem sapien laoreet mauris, dictum porttitor lacus est nec enim. Vivamus feugiat elit lorem, eu porttitor ante ultrices id. Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. Ut pretium, metus venenatis dictum viverra, dui metus finibus enim, ac rhoncus sem lorem vitae mauris. Suspendisse ut venenatis libero. Suspendisse lorem felis, pretium in maximus id, tempor non ipsum
          table#tableTopBancos.ui.table.stackable
            thead
              tr
                th Posición
                th Banco
                th Transparencia
                th Temporalidad
                th Competitividad
                th Trazabilidad
                th Total

      .ui.secondary.vertical.stripe.segment
        .ui.container
          h2 ¿Conoces más información? Puedes ayudarnos a mejorar este proyecto.
          .ui.aligned.very.relaxed.stackable.grid#form-columns
            .ten.wide.column#form-column
              h4 SI TIENES INFORMACIÓN SOBRE CONTRATOS U ORGANIZACIONES POCO TRANSPARENTES. 
              form.ui.form
                .field
                  label ESCRIBE LOS DATOS QUE DESEAS APORTAR CON FUENTE
                  textarea(name="text",id="text")
                .field
                  label NOMBRE
                  input(name="name",id="name")
                .field
                  label EMAIL
                  input(name="email",id="email")
                button.ui.red.submit.button#send_email ENVIAR
            .six.wide.column
              h4 SI DESESAS FILTRAR LOS DATOS ANÓNIMAMENTE, ACCEDE A
              img.logo-mexicoleaks(alt="Mexicoleaks Logo", src="../images/mexicoleaks-negro.png")
              p Una plataforma de filtración de datos anónima y segura que verifica la información proporcionada.
              a(href="http://mexicoleaks.mx").ui.red.button ACCEDER